<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="mb-5">??? ???</h2>
      
      <div class="contact-info">
        <div class="mb-4">
          <i class="fas fa-phone fa-2x mb-3"></i>
          <h4>?????</h4>
          <p><a href="tel:0545920661" class="text-decoration-none">054-592-0661</a></p>
        </div>

        <div class="mb-4">
          <i class="fas fa-envelope fa-2x mb-3"></i>
          <h4>???? ????????</h4>
          <p><a href="mailto:anatbak@gmail.com" class="text-decoration-none">anatbak&#64;gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div> 