.container {
    max-width: 100vw;
    padding: 5rem;
    background-color: #fef2e5;
}

.content-section {
  background: #fff;
  border-radius: 18px;
  border: 1px solid #bababa;
  box-shadow: 0 4px 16px rgba(44,62,80,0.07);
  padding: 2.5rem 2rem;
  direction: rtl;
  text-align: right;
  font-size: 21px;
  width: 60%;
  margin: auto;
}

.accordion-body{
    font-size: 21px;

}

.section-divider {
    width: 80px;
    height: 3px;
    background: linear-gradient(to right, #e8d5c4, #ccae88);
    margin: 0.5rem 2rem 0 0;
    border-radius: 3px;
  }
  
  .accordion-header {
    cursor: pointer;
  }
  
  .accordion-body {
    padding: 1rem;
  }
  
  h2.accordion-header {
    padding: 1rem;
    margin-bottom: 0;
  }

@media (max-width: 991.98px) {
  .container {
    max-width: 86vw;
    padding: 2rem;
    background-color: #fef2e5;
  }

  .content-section {
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0.5rem;
  }

  .container h1{
    font-size: 2rem;
  }

  .container h2{
    font-size: 1.5rem;
  }

  .accordion-body{
    font-size: 0.9rem;
  }

  .accordion-body p{
    font-size: 0.9rem;
  }

  .accordion-body li{
    font-size: 0.9rem;
  }
}